::-webkit-scrollbar {
    width: 5px; }
    
::-webkit-scrollbar-track {
    background: #f1f1f1; }
    
::-webkit-scrollbar-thumb {
    background: #ddd; border-radius: 10px; }
    
::-webkit-scrollbar-thumb:hover {
    background: #ddd;  }

html, body { 
    height: 100%; background: #F5F5F5;}

html, body, p, a, h1, h2, h3, h4, h5, h6, span, input, select, button, textarea, div, nav, header, ul,  li {
    margin: 0; padding: 0; border: 0; box-sizing: border-box; }

p, a, h1, h2, h3, h4, h5, h6, span, input, select, textarea, button { 
    font-family: 'Montserrat', sans-serif; font-weight: 400; }

ul { 
    list-style: none; }

a { 
    text-decoration: none; }

input, select, textarea, button {
    outline: none; }

main { 
    padding: 20px 20px 20px 290px;}

input, select, textarea { 
    width: 100%; padding: 4px 10px; border: 1px solid #eee; border-radius: 5px; margin: 5px 0 10px 0;}

button { 
    width: 100%; padding: 5px 10px;  border-radius: 5px; margin: 3px 0 10px 0; background: #3975EA; color: #fff; font-weight: 500;}

.bg-error { 
    background: #DD3F4F;}

.bg-info { 
    background: #5CB8A7;}

.title { font-weight: 600; color: #555; margin:5px 0 20px 0; text-align: center;}