.nav__item { 
    width: 85%; margin: 0 7.5%; padding: 12px 0px; display: flex; align-items: center; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

    .nav__item img { 
        width: 24px; margin-right: 15px; }

    .nav__item a { 
        font-size: 16px; color: #fff; font-weight: 400; }